@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #1b1b1b;
  --secondary-color: #c16c11;
  --white-color: #fff;
  --black-color: #000;

  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.8rem;
  --font-size-xxl: 2.8rem;

  --site-max-width: 1300px;

  --mobile-transition-width: 800px;
}

body {
  height: 100vh;
  background: url(assets/coffeebackground.jpg);
  background-position: center;
  background-size: cover;
}

/* Header / Navbar Styling */
header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 20px;
  color: var(--white-color);
}

.navbar .navbar-logo {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--white-color);
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .navbar-logo:hover {
  color: var(--secondary-color);
}

.navbar .navbar-logo span {
  color: var(--secondary-color);
}

.navbar .navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .navbar-menu a {
  text-decoration: none;
  color: var(--white-color);
  transition: 0.2s ease;
}

.navbar .navbar-menu a:hover {
  color: var(--secondary-color);
}

#menu-button {
  display: none;
  color: var(--white-color);
  padding: 5px;
  cursor: pointer;
}

#close-button {
  display: none;
  color: var(--black-color);
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}


/* Hero Section Styling */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: var(--site-max-width);
  margin: 0 auto;
}

.hero-section .content {
  color: var(--white-color);
  max-width: var(--site-max-width);
}

.hero-section .content h2 {
  font-size: var(--font-size-xxl);
  max-width: 550px;
}

.hero-section .content p {
  margin-top: 15px;
  font-weight: 400;
  max-width: 600px;
}

.hero-section .content button {
  margin-top: 30px;
  background: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: var(--font-size-m);
  cursor: pointer;
  transition: 0.2s ease;
}

.hero-section .content button:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

@media screen and (width <= 800px) {
  header.show-mobile-menu::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .navbar-menu {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    background: var(--white-color);
    height: 100vh;
    flex-direction: column;
    align-items: start;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  .navbar .navbar-menu a {
    color: var(--black-color);
  }

  header.show-mobile-menu .navbar .navbar-menu {
    left: 0;
  }

  #menu-button {
    display: block;
  }

  #close-button {
    display: block;
  }

  .hero-section .content {
    text-align: center;
  }

  .hero-section .content h2, 
  .hero-section .content p {
    max-width: 100%;
  }

  .hero-section .content h2 {
    line-height: 60px;
  }

  .hero-section .content button {
    padding: 15px 25px;
  }
}